#notify *,
#notify *::before,
#notify *::after {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	font-family: "Open Sans", sans-serif;
	font-size: 16px;
}
#notify {
	position: fixed;
	top: 5px;
	right: 5px;
	width: 350px;
	height: auto;
	z-index: 9999;
}
#notify .notify {
	position: relative;
	width: 350px;
	min-height: 80px;
	line-height: 16px;
	margin: 5px 0;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.4);
	box-shadow: 0 0 10px rgba(0,0,0,0.4);
	background: none;
	border: 0 none;
	-webkit-text-shadow: none;
	-moz-text-shadow: none;
	text-shadow: none;
	overflow: hidden;
	z-index: 9999;
}
#notify .notify > i {
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0.3;
	width: 60px;
	height: 100%;
	padding: 0 10px;
}
#notify .notify > i::before {
	position: absolute;
	top: 50%;
	font-family: "FontAwesome";
	font-size: 40px;
	margin-top: -20px;
}
#notify .notify > span.notify-message {
	display: block;
	position: absolute;
	top: 0;
	left: 50px;
	bottom: 0;
	font-size: 12px;
	color: #FFFFFF;
	width: 290px;
	height: 100%;
	line-height: 16px;
	padding: 10px;
}
#notify .notify > span.notify-cross {
	display: block;
	position: absolute;
	right: 0;
	bottom: 0;
	width: 40px;
	height: 100%;
	text-align: center;
	cursor: pointer;
}
#notify .notify > span.notify-cross::after {
	content: 'OK';
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -7px;
	font-size: 14px;
	width: 100%;
}
#notify .notify > span.notify-cross:hover,
#notify .notify > span.notify-cross:active {
	color: #FFFFFF;
	background-color: #2ecc71;
}
#notify .notify.success,
#notify .notify.calcul {
	background-color: #2cc36b;
}
#notify .notify.fail {
	background-color: #c0392b;
}
#notify .notify.fail > i {}
#notify .notify.fail > span.notify-message {}
#notify .notify.fail > span.notify-cross:hover,
#notify .notify.fail > span.notify-cross:active {
	background-color: #e74c3c;
}
