#notify {
	position: fixed;
	top: 65px;
	right: 7px;
	width: 310px;
	height: auto;
	z-index: 9999;
	.notify {
		position: relative;
		width: 300px;
		height: 56px;
		padding: 5px;
		margin: 5px;
		@include border-radius(4px);
		@include box-shadow(0 0 10px rgba(0,0,0,0.4));
		background: none;
		border: 0 none;
		text-shadow: none;
		z-index: 9999;
		& > i {
			display: inline-block;
			font-size: 40px;
			opacity: 0.3;
			margin: 2px 12px 0 10px;
		}
		& > span.notify-message {
			display: inline-block;
			font-size: 1em;
			color: #FFF;
			position: relative;
			top: -10px;
			width: 72%;
			height: 56px;
			line-height: 56px;
		}
		& > span.notify-cross {
			display: inline-block;
			position: relative;
			top: -10px;
			width: 15px;
			height: 15px;
			@include border-radius(50%);
			text-align: center;
			line-height: 13px;
			font-size: 0.8em;
			cursor: pointer;
			&:hover {
				background-color: rgba(255,255,255,0.2);
			}
		}
		&.success, &.calcul {
			background-color: #27ae60;
		}
		&.fail {
			background-color: #c0392b;
			& > i {
				position: relative;
				top: -10px !important;
			}
			& > span.notify-message {
				position: relative;
				top: -8px;
				line-height: 26px;
				padding-top: 5px;
			}
			& > span.notify-cross {
				top: -40px;
				right: -6px;
			}
		}
	}
}
